<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
<head>
  <title>Phoo sites</title>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  </head>
  <body>
    <p><h1>
      <a href="/">
        <span class="title">phoo</span><span class="starkast">.starkast.net</span>
      </a>
    </h1></p>
    <h2><%= sites.length %> sites</h2> 
    <ul>
      <% for site in sites do %>
        <li><a href="http://<%= site %>"><%= site %></li>
      <% end %>
    </ul>
  </body>
</html>
